<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ChompChap</title>
        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}">
    </head>

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">ChompChap</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/features">Features</a>
                        <a class="nav-link" href="https://github.com/gluinos">Github</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 id="word" class="cover-heading"></h1>
                <!-- <figure class="figure">
                    <img id="image" src="" class="figure-img img-fluid border rounded" alt="Responsive image">
                </figure> -->
                <div class="progress">
                    <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <p class="lead">Press spacebar whenever you see a word that feels right.</p>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>. Built for <a href="https://www.sbhacks.com/">SBHacks</a> V!</p>
                </div>
            </footer>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="result-modal" style="color: #000; text-shadow: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Result</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="result"></p>
                        <div id="map" style="height: 450px; width:80%; margin: 0 auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Javascript -->
    <script src="{{ url_for('static', filename='words.js') }}"></script>
    <script src="{{ url_for('static', filename='images.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0VnHipB7KP9OEhRz7n59sryyJjvP2TRs&callback=InitMap"
    async defer></script>
</html>
